.navbar {
    background-color: #799a05;
}

a {
    color: white;
}

body {
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3 {
    font-family: "Open Sans", sans-serif
}

h2 {
    color: ##799a05;
}

header h2 {
    color: #799a05;
}

.btn {
    background-color: #799a05;
    color: white;
}

.card-header {
    background-color: #066880;
    color: white;
}

i {
color: #066880;
}

.jumbotron {
    background-color: rgb(240, 238, 238);
    color:#066880;
}

.modal-header {
    background: #066880;
    color:white;
}

tr:hover {
    background: #ddd;
  }

  tr.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
  }

  .input {
      background-color: black;
  }

.line {
    background: #fff;
}
.line:nth-child(odd) {
      background: #ddd;  }

  
  .btn checkinBtn {
     padding-top: 6px;
      padding-bottom: 5px;
  }

  .lineClicked {
      background-color: #799a05;
      color: black;
  }